**

!prisma/schema.prisma
!src/**
!static/favicon.png

!/.npmrc
!/package.json
!/pnpm-lock.yaml
!/postcss.config.cjs
!/README.md
!/svelte.config.js
!/tailwind.config.cjs
!/tsconfig.json
!/vite.config.ts

!/.env.prod

!/fs.go