*

!/src/**
!/static/**

**/.DS_Store

!/.eslintignore
!/.eslintrc.cjs
!/.npmrc
!/.prettierignore
!/.prettierrc
!/package.json
!/pnpm-lock.yaml
!/postcss.config.cjs
!/README.md
!/svelte.config.js
!/tailwind.config.cjs
!/tsconfig.json
!/vite.config.ts
