/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable {
	overflow-y: overlay;
}

@font-face {
	font-family: 'NotoSansSC';
	src: url('/fonts/NotoSansSC-VariableFont_wght.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'NotoSansSC';
}
